body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.motivational-meme{
    color: olive;
    width: 50%;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
}

#meme{
    width: 100%;

    border: 5px solid olive;
}