body {
    font-family: sans-serif;
    background-color: palevioletred;
    
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.display {
    font-size: 24px;
    text-align: right;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.inputs input {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid powderblue;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons button {
    width: 48%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#clear, #equal {
    background-color: rebeccapurple; /* * Red for clear and equal buttons */
    color: #fff;
}

.buttons button:hover {
    background-color: #ddd;
}